#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#table-form {
    position: relative;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#players-table {
    width: 100%;
    border-collapse: collapse;
}

#players-table th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

#players-table th {
    background-color: #f2f2f2;
    text-align: center;
}

#players-table td {
    text-align: left;
}

#new-player-form {
    position: relative;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#new-player-form div {
    margin-bottom: 10px;
}

#new-player-form div label{
    display: block;
    margin-bottom: 5px;
}

#new-player-form div input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#banned {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}